@import url(../../Index.css);

table{
    width: 93%;
    text-align: center;
    border-collapse: collapse;
}

td,th{
    border-width: 1px 0px ;
    border-style: solid;
    border-color: var(--borderColor);
    padding: 8px 0px;
}
td a{
    text-decoration: none;
    color: var(--primary);
}
td a:visited{
    color: var(--navBarFont);
}
th{
    cursor: pointer;
}
.delete{
    background-color: var(--red);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.delete:hover{
    box-shadow: 0px 0px 5px 2px var(--primary);
}
